﻿@model IList<PollModel>
@if (Model.Count > 0)
{

 
        <div class="col2">
        <div class="home-page-polls">
            <div class="title" style="color:orange">
                <strong>@T("Polls.Title")</strong>
            </div>
            <div>
                @foreach (var poll in Model)
                {
                    @await Html.PartialAsync("_Poll", poll)
                }
            </div>
        </div>
    </div>
 

}
