﻿@model IList<CategoryModel>

@{

    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/FarjanaTheme/Content/js/owl.carousel.min.js");
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/FarjanaTheme/Content/css/owl.carousel.css");
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/FarjanaTheme/Content/css/owl.carousel.min.css");

}

@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid">
        <div class="title-up">
            <strong>Features Category</strong>
        </div>
        <div class="item-grid">
            <div class="owl-carousel">
                @foreach (var item in Model)
                {
                    @*<div class="owl-contain">*@
                    <div class="item">
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                        <h2 class="title">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                @item.Name
                            </a>
                        </h2>
                    </div>


                }
            </div>
            </div>
    </div>
}



<script asp-location="Footer">

    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });


    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true
    })
</script>
    